/** Add css rules here for your application. */

* {
    margin: 0;
    padding: 0;
}

body {
    background: #B9FDFE url("clouds.png");
}

.mainPanel {
    width: 100%;
}

.todoListPanel {
    width: 40em;
}

.todoListHeader {
    color: white;
    text-shadow: 1px  1px  3px white,
                -1px  1px  3px white,
                 1px -1px  3px white,
                -1px -1px  3px white,
                 2px  2px  3px black,
                -2px  2px  3px black,
                 2px -2px  3px black,
                -2px -2px  3px black;
    font-family: fantasy;
    font-size: xx-large;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 10px;

}

.todoList{
    margin-top: 10px;
    margin-bottom: 5px;
    width: 100%;
    border-spacing: 2px;
    border-width: 3px;
    border-color: #2f4f4f;
    border-style: ridge
}

.todoListColumn {

}

.todoListText {
    color: #424242;
    font-family: cursive;
    font-size: large;
    text-shadow: 0px 0px 5px #AAAAAA ;

}

.todoListTextComplete {
    color: #A9A9A9;
    text-decoration: line-through;
}

.entryDateText {
    font-size: smaller;
}

.newEntry {
    width: 100%;
    color: #424242;
    font-family: cursive;
    font-size: medium;
    text-shadow: 0px 0px 5px #AAAAAA ;
}

.newEntryHelpText {
    text-align: right;
    font-style: italic;
    color: graytext;
}

.editEntryDialogText {
    color: #424242;
    font-family: cursive;
    font-size: x-large;
    text-shadow: 0px 0px 5px #AAAAAA ;
}
