/** Add css rules here for your application. */

h1 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

.todo-list-text {
}

.todo-list-complete-text {
    text-decoration: line-through;
}

body, td, a, div, .p {
    font-family: arial, sans-serif
}
